.swipe-wrapper{
    .swipe-item{
        ul{
            width: 100%;
            height: auto;
            li {
                display: block;
                list-style: none;
                width: 20%;
                background-repeat: no-repeat;
                background-size: 50px auto;
                background-position: top center;
                text-align: center;
                padding-top: 50px;
                color: #666;
                font-size: 14px;
                // &.jingdian{
                //     background-image: url(../../static/images/swipe-icon/jingdian.png)
                // }
            }
            // li.jingdian{
            //     background-image: url(../../static/images/swipe-icon/jingdian.png)
            // }
            li.jingdian {
                background-image: url(http://images2015.cnblogs.com/blog/138012/201610/138012-20161022224203170-1528315005.png);
            }
        }
        
        
        .jingdian{

        }
    }
}